<% name = current_user.present? ? current_user.email : 'Guest'  %>
<h1>Welcome to Street Clinic App, <%= name %></h1>
<% if current_user.present? %>
  <p>Now you can navigate to Patients, Providers and Visits</p>
<% else %>
  <p>Log in to see Patients, Providers and Visits</p>
<% end %>

